.post-nav .prev-post,
.post-nav .next-post {
  display: inline-block;
  padding: 4px 10px;
  font-size: 10pt; /* Updated to 10pt */
  font-family: sans-serif;
  color: #666;
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.post-nav .prev-post:hover,
.post-nav .next-post:hover {
  background-color: #ccc;
  color: #333;
  transform: scale(1.05);
}

.post-nav .prev-post:focus,
.post-nav .next-post:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 122, 204, 0.5);
}
.gallery {
  display: flex;
  margin-top: 20px;
  max-width: 40%;
}

.w-two-thirds-l {
  width: 100% !important;
}

.gallery img {
  margin-right: 20px;
  box-shadow: 10px 10px 8px #888888;
}

.pb6-l {
  padding-bottom: 1rem;
}

.site-header {
  position: relative;
  background-color: black; /* Adjust as needed */
  color: white; /* Adjust as needed */
  text-align: center;
  min-height: 300px; /* Set a minimum height for the header */
}

.header-with-banner {
  position: relative;
  background-color: black; /* Adjust as needed */
  color: white; /* Adjust as needed */
  text-align: center;
  background-size: cover;
  background-position: center;
  min-height: 300px; /* Set a minimum height for the header */
}

.header-container {
  position: relative;
  overflow: hidden;
}

.header-content {
  position: relative;
  z-index: 1;
  padding: 2rem; /* Adjust as needed */
  color: white; /* Ensure text is visible over the image */
}

.header-content h1 {
  font-size: 5rem; /* Increase font size */
  margin-top: -0.25rem; /* Adjust as needed */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow */
}

.header-content h2 {
  font-size: 10rem; /* Increase font size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow */
}
